@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    font-family: 'Playfair Display', serif; /* Fuente para los h1 */
  }
  
  p {
    font-family: 'Montserrat', sans-serif; /* Fuente para los p */
  }

  span {
    font-family: 'Roboto', sans-serif;
  }
  